<!doctype html>
{% raw %}
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div ng-controller="Controller">
      <form class="simple-form" enctype="multipart/form-data">
        Name: <input type="url" ng-model="event.url" required><br>
        <button ng-click="save(event)">SAVE</button>
        <button ng-click="reset()">RESET</button>
      </form>
      <ul>
        <li ng-repeat="(short, url) in urls">
          <a href="/{{ short }}">/{{ short }} {{ url }}</a></li>
      </ul>
    </div>
  </body>
</html>
{% endraw %}
